@charset "utf-8";
* {
	margin:0;
	padding:0;
}
#storbox {
	width:100%;
	margin:0 auto;
}
body {
	-webkit-animation: bugfix infinite 1s;	
}
header {
	width:100%;
	background-color:#333333;
}
#leftupcorner{
	 float:left;
}
#länkBildGrej {
	height:210px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
#rightupcorner{
	float:right;
}
img {
	float:left;
	background-color:#333;
}
nav {
	clear:left;
	width:100%;
	font-family:morris;
	font-size:3em;
}
article {
	width:100%;
	background-color:#999999;
	padding:2em;
	box-sizing:border-box;
}
nav[role="custom-dropdown"] ul > li {
	float: left;
	width: 25%;
	text-align: center;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
	transition-property: box-shadow, color;
	box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35);
	cursor: pointer;
	background-color:#666666;
	padding-top:5px;
	padding-bottom:5px;
	list-style:none;
	box-sizing:border-box;
}
nav a:link {
	text-decoration:none;
	color:#b6b096;
}
nav a:visited {
	color:#b6b096;
}
nav a:active {
	color:#b6b096;
}
nav[role="custom-dropdown"] ul > li:hover {
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35), inset 0 0 0 2em rgba(0, 0, 0, 0.3);
  color:#b6b096;
}
@font-face {
    font-family: 'morris';
    src: url('morrisroman-black-webfont.woff2') format('woff2'),
         url('morrisroman-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
label {
  display: none;
  cursor: pointer;
  user-select: none;
}
.bild {
	clear:right;
	float:right;
	width:20%;
	border-radius:5%;
	margin-bottom:1em;
}
#knightBild1 {
	float:right;
	width:40%;
	border-radius:5%;
	margin-bottom:10em;
}
#kenseiBild {
	float:right;
	width:40%;
	clear:right;
	border-radius:5%;
}
h1 {
	font-size:40px;
	font-family:morris;
}
h2 {
	font-size:36px;
	font-family:morris;
}
#startSideText {
	font-size:24px;
	padding-right:18em;
}
.InfoText {
	font-size:24px;
	margin-bottom:1em;
}
.text {
	font-size:30px;
	padding-right:50%;
	margin-bottom:1em;
}
article a:link {
	text-decoration:none;
	color:#b6b096;
}
article a:visited {
	color:#C9C13D;
}
article a:active {
	color:#b6b096;
}

iframe {
	height:360px;
	width:640px;
	padding-top:10em;
	padding-left:10em;
	border:0;
}
.clearFix {
	clear:both;
}
/* small screens */
@media screen and (max-width: 1366px) {	
  header {
	  float:left;
  }
  #startSideText {
	  font-size:24px;
	  padding-right:10em;
  }
  #leftupcorner{
	  float:none;
	  display:none;
  }
  #rightupcorner{
	  float:none;
	  display:none;
  }
  #länkBildGrej {
	  display:flex;
	  justify-content:center;
	  height:auto;
	  width:80%;
	  overflow:hidden;	
  }
  iframe {
	  padding-top:5em;
	  padding-left:2em;
  }
}
@media screen and (max-width: 60em) {
  iframe {
	  width:60vw;
	  height:calc(60vw*(9/16));
  }
}
@media screen and (max-width: 44em) {
  header {
	  float:left;
  }
  img {
	  float:none;
	  width:80%;	  
  }
  nav {
	  clear:none;
  }
  article {
  }
  #startSideText {
	  font-size:24px;
	  padding:0;
  }
  .text {
	  padding:0;
  }
  .bild {
	  float:none;
	  width:calc(100%/3 - 1%);
	  margin-right:1%;
	  margin-bottom:1%;
  }
  #knightBild1 {
	  float:none;
	  margin:2em;
	  display:flex;
	  justify-content:center;
	  overflow:hidden;
	  margin-left:auto;
	  margin-right:auto;
	  width:100%
  }
  #kenseiBild {
	  float:none;
	  margin:2em;
	  display:flex;
	  justify-content:center;
	  overflow:hidden;
	  margin-left:auto;
	  margin-right:auto;
	  width:100%
  }
  #imgWrapper {
	  font-size:0;
  }
  #länkBildGrej {
  	width:80%;
  	display:flex;
	justify-content:center;
	height:auto;
	overflow:hidden;
  }
  nav[role="custom-dropdown"] ul {
    display: none;
  }
  nav[role="custom-dropdown"] label {
    position:absolute;
    display:inline;
    font-size: 1.1em;
    margin: 0;
  }
  nav[role="custom-dropdown"] label:after {
    position:absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ label:after {
    color: #222;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
	padding-left:.5em;
  }
  iframe {
	  padding-left:0;
	  width:calc(100vw - 4em);
	  height:calc((100vw - 4em)*(9/16));
  }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}